- var processItem = [{'img': 1, 'subtitle': 'Неделя 1 - 2', 'title': 'Теоретические занятия', 'text': 'Теоретический труд – умение применять свои знания на практике. Ежедневно вы знакомитесь с новыми клиентами. Вы должны будете грамотно собрать анамнез и определить причины возникновения косметических дефектов. Также теория помогает подобрать эффективные методы их устранения'}, {'img': 2, 'subtitle': 'Неделя 3-4', 'title': 'Практические занятия', 'text': 'Практический труд без применения аппаратуры. Это проведение процедур по уходу за кожей с помощью масок, пилинга и т.д. Ручная чистка лица, антицеллюлитный массаж и обертывание, всевозможные массажные процедуры для лица и тела с использованием компрессов и примочек.'}, {'img': 3, 'subtitle': 'Неделя 5-6', 'title': 'Аппаратная косметология', 'text': 'Это проведение более сложных процедур с применением дополнительных механических средств – аппаратов. К ним относятся различные виды депиляции. Аппараты требуют повышенного внимания к деталям и умения просчитать оптимальное напряжение и дозировку впрыскиваемых веществ'}]

- var processModules = [{'title': 'Модуль 1. Организация работы косметологического кабинета', 'list': ['Требования для открытия косметологического кабинета;', 'Оформление кабинета;', 'Правила санитарно-эпидемиологического режима;', 'Внешний облик косметолога;', 'Внешний облик косметолога;', 'Оснащение кабинета (обязательный минимум).']}, {'title': 'Модуль 2. Строение и функции кожи', 'list': ['Эпидермис;', 'Дерма;', 'Гиподерма;', 'Придатки кожи;', 'Внешний облик косметолога;', 'иннервация; кровеносная и лимфатическая системы кожи.']}, {'title': 'Модуль 3. Типы кожи и диагностика', 'list': ['Сухая;', 'Жирная;', 'Комбинированная.']}, {'title': 'Модуль 4. Старение кожи', 'list': ['Естественные старения (хроно — старение);', 'Фото-старение;', 'методы профилактики.']}, {'title': 'Модуль 5. Чистки', 'list': ['Механическая (гигиеничная, ручная);', 'УЗЧ;', 'Атравматическая.']}, {'title': 'Модуль 6. Массаж лица (на выбор)', 'list': ['Классический;', 'Испанский-лимфодренажный;', 'пластический.']}, {'title': 'Модуль 7. Химические пилинги', 'list': ['Поверхностный;', 'Средний;', 'Глубокий.']}, {'title': 'Модуль 8. Аппаратная косметология', 'list': ['Микротоки', 'Микронидлинг (дермо штамп).']},]

section.process#process
    .container
        +sectionTitle('03', 'Как проходит обучение')

        // Text and image
        .process__general-content
            // Text
            .process__content
                h3.card-title Наша задача, чтобы косметолог получил не только документ, но и стал востребованным специалистом высокого уровня.
                p Курсы косметологии разработаны как для людей без медицинского образования  так и для медиков разной категории.  В программу входит все самое необходимое, что нужно знать косметологу на начальном уровне.
                p Обучение на косметолога проводит врач с высшим медицинским образованием, практикующий косметолог, эстетист по телу. Вы будете изучать все, что касается косметологии начального уровня, что даст Вам возможность после курсов стать специалистом готовым к работе в студиях красоты и СПА-салонах. В процентном соотношении занятия состоят из 15% теории и 85% практики, обучение в группах до 6 человек, что дает возможность уделить внимание каждому ученику.
            // End text

            // Image side
            .process__image.border-out.figure-image
                img.figure-image__img(src="/assets/images/process/Photo.jpg", alt="Alt photo")
            // End image side
        // End text and image

        // Items
        .process__items
            each val in processItem
                .border-out.border-out--before.card
                    // Image
                    .card__image.figure-image
                        img.figure-image__img(src=`/assets/images/process/item-${val['img']}.jpg`, alt="Alt photo")
                    // End image

                    // Content
                    .card__content
                        .card__heading.line-border
                            h4.card__subtitle= val['subtitle']
                            h3.card__title= val['title']
                        .card__info
                            p= val['text']
                    // End content
        // End items

        // Modules
        .process__modules.process-modules
            h2.process-modules__title.color Ключевые модули (Программа)

            each val in processModules
                article.process-modules__item
                    .process-modules__title-wr
                        h3.card-title= val['title']
                    .process-modules__content
                        ul
                            each list in val['list']
                                li= list
        // End modules